.notFoundMessage {
  font-size: 24px;
  color: rgb(242, 63, 63);
  text-align: center;
  margin: 32px 0;
  font-weight: bold;
  background-color: rgba(215, 213, 213, 0.414);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.camperDetailsWrapp {
  padding: 48px 0;
}
.camperDetailsText {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  max-width: 1312px;
  margin-bottom: 60px;
}

.camperDetailsLine {
  border: none;
  height: 1px;
  background-color: #dadde1;
  margin-top: 24px;
  margin-bottom: 44px;
}

.camperDetailsBtn {
  display: flex;
  gap: 40px;
}
