.camperDetailsWrapp {
  padding: 48px 0;
}
.camperDetailsText {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  max-width: 1312px;
  margin-bottom: 60px;
}

.camperDetailsLine {
  border: none;
  height: 1px;
  background-color: #dadde1;
  margin-top: 24px;
  margin-bottom: 44px;
}

.camperDetailsBtn {
  display: flex;
  gap: 40px;
}
