.bookingFormWrapp {
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 44px;
  width: 631px;
}

.bookingTitle {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  margin-bottom: 8px;
}

.bookingText {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;
  margin-bottom: 24px;
}

.bookingFormInputWrapp {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 24px;
}

.bookingFormInput {
  width: 527px;
  border-radius: 12px;
  background-color: #f7f7f7;
  padding: 18px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;
}

.bookingFormInput.dateSelected {
  color: #101828;
  font-family: Inter;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.bookingFormInputDouble {
  display: flex;
  flex-direction: column;
  width: 527px;
  position: relative;
}

.datePickerWrapper {
  position: relative;
  width: 100%;
}

.react-datepicker-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
}
.bookingFormTextarea {
  margin-top: 14px;
}

.bookingFormTextarea {
  width: 527px;
  height: 118px;
  padding: 18px 308px 76px 18px;
  border-radius: 12px;
  background-color: #f7f7f7;
  border: none;
  resize: none;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}

.bookingFormTextarea::placeholder {
  color: #6c717b;
}

.bookingFormBtn {
  display: block;
  width: 166px;
  padding: 16px 60px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  background-color: #e44848;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  margin: 0 auto;
  transition: background-color cubic-bezier(0.25, 0.1, 0.25, 1);
}
.bookingFormBtn:hover {
  background-color: #d84343;
}

.errorMessage {
  color: #d84343;
  font-size: 12px;
}
