.locationWrapp {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;
}

.locationTitle {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;
}

.locationInput {
  position: relative;
  display: flex;
  width: 360px;
  height: 56px;
  padding: 18px 20px 18px 46px;
  border-radius: 12px;
  background-color: #f7f7f7;
  border: none;
}

.locationLabel {
  position: relative;
  display: inline-block;
}

.locationIcon {
  position: absolute;
  top: 18px;
  left: 20px;
  z-index: 99999;
}

.locationIcon.emptyInput {
  fill: #dadde1;
}

.locationIcon.fillInInput {
  fill: #101828;
}

.filtersWrapp {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 40px;
}

.filtersTitle {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
}

.filterFormBtn {
  display: block;
  width: 166px;
  height: 56px;
  padding: 16px 40px;
  border-radius: 200px;
  background-color: #e44848;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  transition: background-color cubic-bezier(0.25, 0.1, 0.25, 1);
}

.filterFormBtn:hover {
  background-color: #d84343;
}
