.toggleButtonsWrapp {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #dadde1;
  margin-bottom: 44px;
}

.toggleButtons {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  border: none;
  background-color: #fff;
  padding-bottom: 24px;
}
.toggleButtons.active {
  border-bottom: 2px solid #e44848;
}
