.loadMoreBtn {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 200px;
  border: 1px solid #dadde1;

  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #101828;

  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 372px;
  background-color: transparent;
  transition: border-color cubic-bezier(0.25, 0.1, 0.25, 1);
}

.loadMoreBtn:hover {
  border-color: #d84343;
}

.disabled {
  cursor: not-allowed;
  background-color: #dadde1;
}

.loadMoreBtn:hover.disabled {
  border-color: #dadde1;
}
